{%extends "index.html" %} {% block title %}  {{title}} {% endblock %} 

{% block content %}

<form method="post" class="m-5">
    <div class="mb-3 mt-5">
        <div class="">
            <h3>NOTES</h3>
        </div>
      <!-- <label for="email" class="form-label">Email</label> -->
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="Enter your email">
    </div>  
    <button type="submit" class="btn btn-primary">Login</button>
  </form>

{% endblock %}